body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  color: #555;
  padding: 8px;
  background: white;
  line-height: 12px;
  text-align: center;
  font-size: small;
  border-radius: 5px;
  border: 1px solid #555; 
}

.legend i {
  width: 12px;
  height: 12px;
  float: left;
  margin-right: 12px;
  opacity: 1.0;
}

.legend ul {
  list-style-type: none;
  padding: .0;
  margin: .0;
  clear: both;
}

.legend li {
  margin-bottom: 3px;
  display: flex;
  align-items: center;
}

.color-box {
  width: 12px;
  height: 14px;
  display: inline-block;
  margin-right: 8px; 
  opacity: 1.0;
}


